body {
    font-family: 'Rationale', sans-serif;
}


/* navbar */

.navalert-container {
    z-index: 1;
    position: absolute;
    top: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(4, 0, 0, 0.78)
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

ul.navbar-nav.mr-auto {
    text-align: center;
}


/* containers */

.alert-container {
    padding-left: 0;
    padding-right: 0;
}

.alert-container .row {
    margin: 0;
}

.col-12 {
    padding: 0;
}

.col-12>.alert {
    margin-bottom: 0;
    padding: 5px 15px;
    border-radius: 0;
}

.alert-warning {
    background-color: #ffc50f;
    border-color: #ffc50f;
}

.callout-container {
    height: 100vh;
    background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quotes-container {}

.features-container {}

.favs-container {}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}


/* block divider */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--tomato {
    background-color: tomato;
}

.block-divider--short {
    width: 35px;
}


/* jumboton */

.jumbotron {
    background-color: transparent;
}

.jumbotron .lead {
    color: white;
    margin: 25px 0;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}


/* buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: tomato;
    border-color: tomato;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #ff6347c2;
    border-color: #ff6347c2;
}

.btn--small {
    width: 80px;
}

.modal-content {
    background-color: black;
    color: white;
    border: 1px solid white;
}